@use '_breakpoints' as *;

.trigger {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--color-text-light);
  font-size: .55rem;
  letter-spacing: 5%;
  white-space: nowrap;

  @include bp-md {
    font-size: .65rem;
  }

  @include bp-xl {
    font-size: .75rem;
  }

  svg {
    path {
      color: var(--color-admin-light);
    }
  }
}