@use '_breakpoints' as *;

.view-photo-wrapper {
  display: flex;
  gap: 1rem;
  align-items: stretch; // Right side matches left side height perfectly
  width: 100%;
  flex-direction: column;
 // overflow-y: auto;

  @include bp-md {
    flex-direction: row;
  }

  &.single {
    width: unset;

    .photo-wrapper {
      @include bp-md {
        max-width: 500px;
      }
    }    
  }

  .photo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1; // Takes up exactly half the width
    min-width: 0;
    width: 100%;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid var(--color-primary);
      border-radius: 10px;
    }

    .source {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: .5rem;
      font-size: .85rem;
      border: 1px solid var(--color-primary);
      padding: .25rem .5rem;
      align-self: flex-start;
      border-radius: 3px;
      background-color: var(--color-bg);

      .source-title {
        display: flex;
        font-weight: 600;
      }

      .link-wrapper {
        display: flex;
        gap: .5rem;
        align-items: center;

        .source-link {
          display: flex;
          font-size: .75rem;
        }

        svg {
          color: var(--color-primary);
          height: 12px;
          width: auto;
        }

        a {
          display: flex;

          @media (hover: hover) {
            &:hover {
              opacity: .75;
            }
          }
        }
      }
    }

    .tags-wrapper {
      display: flex;
      flex-direction: column;
      gap: .75rem;

      .tags-display-wrapper {
        display: flex;
        gap: .5rem;
      }

      .tag-wrapper {
        display: flex;
          gap: .5rem;
          flex-wrap: wrap;

        .pill {
          font-size: .8rem;
          padding: .25rem;
          border-radius: 3px;
          display: block;
          background-color: var(--color-admin-light-mid);
          color: var(--color-text-white);
        }
      }
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    flex: 1; // Takes up exactly half the width
    position: relative;
    min-height: 0;

    .label {
      font-weight: 600;
      color: var(--color-primary);
    }
  } 

  .story-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    min-height: 0;

    @include bp-md {
      aspect-ratio: 1/1;
    }

    .story-wrapper {
      flex: 1;
      min-height: 0;

      .accent-box {
        display: flex;
        flex-direction: column;
        padding: .5rem .25rem .5rem .5rem;
        background-color: rgba(173, 163, 201, .25);
        border: 2px solid var(--color-primary);
        border-radius: 5px;
        font-size: .9rem;
        height: 300px;

        @include bp-md {
          height: 100%;
        }

        .story {
          scrollbar-color: var(--color-primary) transparent;
          overflow-y: auto; 
          flex: 1;
          font-size: .8rem;
          padding-right: .25rem;

          @include bp-lg {
            font-size: .9rem;
          }
        }
      }
    }
  }

  &.odd {
    .photo-wrapper {
      img {
        border-color: var(--color-accent);
      }
    }

    .details-wrapper {
      .label {
        color: var(--color-accent);
      }

      .source {
        border-color: var(--color-accent);
        
        svg {
          color: var(--color-accent);
        }
      }

      .tag-wrapper {
        .pill {
          background-color: var(--color-accent-muted);
        }
      }

      .story-wrapper {
        .accent-box {
          border-color: var(--color-accent);
          background-color: rgba(201, 163, 163, .25);

          .story {
            scrollbar-color: var(--color-accent) transparent;
          }
        }
      }
    }
  }
}