@use '_breakpoints' as *;

.new-photo-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  flex: 1;
  overflow-y: auto;
  scrollbar-color: var(--color-admin-light) transparent;

  @include bp-md {
    gap: 1.5rem;
    flex-direction: row;
  }

  .photo-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;

    @include bp-md {
      width: 375px;
    }

    .upload {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      border-radius: 10px;
      background-color: var(--color-admin-bg);
      border: 2px dashed var(--color-admin-border);
      cursor: pointer;
      flex-basis: 250px;
      min-height: 0;
      overflow: hidden;
      flex-shrink: 0;

      @include bp-md {
        flex-basis: 375px;
      }

      &.multiple {
        padding: 0rem;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .preview-grid {
        &.multiple {
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          .preview-item {
            .error-badge {
              font-size: .6rem;
            }

            .status-badge-loading {
              width: 20px;
              height: 20px;
              padding: .25rem;
              border-radius: 20px;
            }

            .status-badge-success {
              width: 15px;
              height: 15px;
              padding: .25rem;
            }

            button {
              width: 20px;
              height: 20px;
              top: .5rem;
              right: .5rem;

              svg {
                width: 25px;
                height: 25px;
              }
            }
          }
        }

        .preview-item {
          position: relative;

          img {
            aspect-ratio: 1/1;
            object-fit: cover;
          }

          .error-badge {
            display: flex;
            justify-content: center;
            position: absolute;
            inset: 0;
            place-self: center;
            background-color: var(--color-alert);
            color: var(--color-text-light);
            font-size: .9rem;
            font-weight: 500;
            padding: .25rem .5rem;
            border-radius: 5px;
          }

          .status-badge-loading {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            inset: 0;
            place-self: center;

            width: 30px;
            height: 30px;
            padding: .35rem;
            background-color: rgba(var(--color-admin-light-rgb), .85);
            color: var(--color-admin-primary);
            border-radius: 50px;
          }

          .status-badge-success {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            inset: 0;
            place-self: center;

            width: 30px;
            height: 30px;
            padding: .35rem;
            background-color: var(--color-confirm);
            color: var(--color-admin-primary);
            border-radius: 20px;
          }

          button {
            display: flex;
            align-items: center;
            position: absolute;
            width: 30px;
            height: 30px;
            top: .75rem;
            right: .75rem;
            background-color: var(--color-admin-bg);
            border-radius: 5px;

            svg {
              width: 35px;
              height: 35px;
            }
          }
        }
      }

      p {
        color: var(--color-admin-light-muted);
        font-size: .8rem;
      }

      svg.image-placeholder {
        width: 28px;
        height: 28px;

        path {
          fill: var(--color-admin-light-muted)
        }
      }
    }

    .max {
      color: var(--color-alert);
    }

    .source p {
      margin-top: .5rem;
      font-size: .8rem;
    }
  }

  .category-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;

    @include bp-md {
      min-height: 0;
    }

    .header {
      color: var(--color-admin-light);
      font-size: .9rem;
      margin-top: 1rem;
    }

    .accent-box-wrapper {
      display: flex;
      width: 100%;

      .accent-box {
        display: flex;
        flex-direction: column;
        background-color: var(--color-admin-bg);
        border: 1px solid var(--color-admin-border);
        border-radius: 10px;
        padding: .5rem .5rem;
        flex: 1; 

        .selection-wrapper {
          padding: 0rem .5rem;

          .category-selection-wrapper {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            hr {
              margin: 1rem 0px .5rem 0rem;
              border: 1px solid var(--color-admin-border);
            }

          .checkbox-select {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--color-admin-light);

            svg {
              color: var(--color-admin-mid);
              border: 1px solid var(--color-admin-muted-light);
              border-radius: 2px;
            }

            &.selected{
              color: var(--color-text-light);

              svg {
                background-color: var(--color-admin-light);
                border-color: var(--color-admin-light-bright);
                color: var(--color-admin-light-bright);
              }
            }
          }

        .category-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .trigger-notice {
            color: var(--color-admin-light);
            font-size: .65rem;
            opacity: .25;

            svg {
              margin-right: .25rem;
            }
          }
        }

          .subcategory-selection-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: .25rem;

            @include bp-md {
              gap: .5rem;
            }

            @include bp-lg {
              margin-left: 1.5rem;
            }

            .checkbox-select {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              background-color: var(--color-admin-primary);
              padding: .25rem .5rem;
              font-size: .6rem;
              border-radius: 5px;
            
              @include bp-md {
                font-size: .75rem;
              }

              svg {
                width: 8px;
                height: 8px;

                @include bp-md {
                  width: 10px;
                  height: 10px;
                }
              }

              &.selected {
                background-color: var(--color-admin-light-muted);

                svg {
                  background-color: var(--color-admin-bg-light);
                  border-color: var(--color-admin-bg);
                  color: var(--color-admin-bg);
                }
              }
            }
          }
        }
        }
      }
    }
  }
}