@use '_breakpoints' as *;

.photos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filters-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include bp-lg {
      gap: .75rem;
    }

    .top-filters {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      @include bp-lg {
        gap: unset;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .search {
        @include bp-lg {
          width: 30%;
        }
      }

      .base-filters {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @include bp-lg {
          flex-direction: row;
          align-items: center;
        }

        .types {
          display: flex;
          order: 2;
          gap: .5rem;

          @include bp-lg {
            order: 1;
          }

          button {
            border-color: var(--color-admin-mid-secondary);
          }
        }

        .sort {
          order: 1;

          @include bp-lg {
            order: 2;
          }
        }
      }
    }

    .bottom-filters {
      display: flex;
      flex-direction: column;

      @include bp-lg {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }

      .bulk-edit {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        @include bp-lg {
          margin-top: unset;
        }

        &.edit-active button {
          background-color: var(--color-admin-light-mid);
          color: var(--color-admin-primary);
          font-weight: 500;
        }

        button {
          padding: 0.5rem .75rem;
          border-color: var(--color-admin-light-mid);
          font-size: .75rem;

          @include bp-lg {
            font-size: .9rem;
          }
        }

        .bulk-controls {
          display: flex;
          gap: .75rem;

          button {
            display: flex;
            background-color: transparent;
            padding: 0rem;

            svg {
              height: 15px;

              @include bp-lg {
                height: 18px;
              }
            }
          }
        }
      }

      .missing-filters {
        display: flex;
        align-items: center;
        gap: .5rem;
        flex-wrap: wrap;

        @include bp-lg {
          gap: 1rem;
          justify-content: flex-end;
        }

        .missing-option {
          display: flex;
          align-items: center;

          .checkbox-select {
            display: flex;
            align-items: center;
            gap: .25rem;
            color: var(--color-admin-light);
            font-size: .65rem;

            @include bp-lg {
              font-size: .75rem;
            }

            svg {
              background-color: var(--color-admin-bg-mid);
              color: var(--color-admin-mid-secondary);
              border: 1px solid var(--color-admin-light);
              border-radius: 2px;
              width: 10px;
              height: 10px;

              @include bp-lg {
                width: 12px;
                height: 12px;
              }
            }

            &.selected {
              color: var(--color-alert);

              svg {
                background-color: var(--color-admin-light);
                border-color: transparent;
                color: var(--color-alert);
              }
            }
          }
        }
      }
    }
  }

  .photos-display-wrapper {
    .photos {
      .photo-wrapper {
        position: relative;
        border: 2px solid var(--color-admin-border);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &.alert {
          border-color: var(--color-alert);
        }

        .image-wrapper {
          img {
            aspect-ratio: 1/1;
          }

          .badges {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .35rem;
            top: 8px;
            left: 8px;
            right: 8px;

            .alerts {
              display: flex;
              gap: .35rem;
              
              svg {
                height: 18px;
                width: auto;
                color: var(--color-admin-accent);
                background-color: var(--color-alert);
                padding: .1rem .2rem;
                border-radius: 5px;
              }
            }

            .views {
              display: flex;
              align-items: center;
              margin-left: auto;
              gap: .3rem;
              height: 22px;
              padding: 0rem 5px;
              background-color: var(--color-admin-light);
              color: var(--color-admin-bg-mid);
              font-size: .7rem;
              border: 1px solid var(--color-admin-border);
              border-radius: 3px;
              font-weight: 600;

              svg {
                height: 9px;
                width: auto;
              }
            }
          }

          button {
            position: absolute;
            top: 12px;
            right: 12px;

            @media (hover: hover) {
              &:hover {
                opacity: 1;

                .checkbox-select svg {
                  color: var(--color-confirm);
                  background-color: var(--color-admin-light);
                }
              }
            }
            

            .checkbox-select {
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--color-admin-light);
              border: 2px solid var(--color-admin-primary);
              border-radius: 3px;
              font-size: .75rem;
              width: 20px;
              height: 20px;
              overflow: hidden;
   
              svg {
                background-color: var(--color-admin-light);
                color: var(--color-admin-light);
                width: 25px;
                height: 25px;
              }

              &.selected{
                svg {
                  background-color: var(--color-admin-primary);
                  border-color: transparent;
                  color: var(--color-confirm);
                  
                }
              }
            }
          }

          .error-badge {
            display: flex;
            justify-content: center;
            position: absolute;
            inset: 0;
            place-self: center;
            background-color: var(--color-alert);
            color: var(--color-text-light);
            font-size: .9rem;
            font-weight: 500;
            padding: .25rem .5rem;
            border-radius: 5px;
          }

          .status-badge-loading {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            inset: 0;
            place-self: center;

            width: 30px;
            height: 30px;
            padding: .35rem;
            background-color: rgba(var(--color-admin-light-rgb), .85);
            color: var(--color-admin-primary);
            border-radius: 50px;
          }
        }

        .details-wrapper {
          background-color: var(--color-admin-border);
          display: flex;
          flex-direction: column;
          padding: .5rem;
          gap: .5rem;
          flex-grow: 1;

          h2 {
            display: flex;
            align-items: center;
            font-family: var(--font-body);
            font-weight: 400;
            font-size: .8rem;
            letter-spacing: 3%;

            @include bp-md {
              font-size: 1rem;
            }

            span {
              margin-right: .35rem;
              font-size: .7rem;
              color: var(--color-admin-light-mid);

              @include bp-md {
                font-size: .75rem;
              }
            }
          }

          .details {
            display: flex;
            justify-content: space-between;

            .subcategories {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              overflow: hidden;
              gap: .25rem;

              span {
                background-color: var(--color-admin-bg);
                color: var(--color-admin-light);
                font-size: .5rem;
                padding: .25rem .2rem;
                border-radius: 3px;

                @include bp-md {
                  font-size: .6rem;
                }
              }

              p {
                color: var(--color-admin-light);
                font-size: .6rem;

                @include bp-md {
                  font-size: .7rem;
                }
              }
            }

            .actions {
              display: flex;
              gap: .7rem;
              justify-content: flex-end;

              @include bp-lg {
                gap: .8rem;
                justify-content: unset;
              }

              svg {
                height: 14px;
                width: auto;

                @include bp-md {
                  height: 16px;
                }

                @include bp-lg {
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }

    p {

    }
  }
}