@use 'breakpoints.module' as *;

.sidebar {
  flex: none;
  width: 300px;

  ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      a {
        display: flex;
        align-items: center;
        padding: .85rem 1.3rem;
        border-left: 7px solid transparent;

        font-family: var(--font-heading);
        font-weight: 300;
        color: var(--color-text-light);

        &.active {
          background: linear-gradient(90deg, #2A1627 25%, #20142A 50%, #17122A 80%);
          border-left: 7px solid rgba(150, 44, 46, 0.75);

          svg path {
            fill: var(--color-accent)
          }
        }

        @media (hover: hover) {
          &:hover {
            background: linear-gradient(90deg, #2A1627 25%, #20142A 50%, #17122A 80%);
            border-left: 7px solid rgba(150, 44, 46, 0.75);

            svg path {
              fill: var(--color-accent)
            }
          }
        }

        svg {
          width: 22px;
          height: 22px;
          margin-right: .5rem;
        }
        
        span {
          letter-spacing: 7%;
        }
      }
    }
  }
}

.body {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 2.5rem;

  background-color: var(--color-admin-bg);
}