@use '_breakpoints' as *;


.accordion {
  margin: 0rem 5%;
  &.open {
    .accordion-header {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      transition: border-radius 0s;
      transition-delay: 0s;
    }

    .body-wrapper {
      grid-template-rows: 1fr;
    }
  }

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(var(--color-accent-rgb), .05);
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    padding: .75rem;
    border-radius: 5px;
    transition: border-radius 0.25s;
    transition-delay: 0.2s;

    svg {
      height: 16px;
      width: auto;

      path {
        fill: var(--color-accent) !important;
      }
    }

    @include bp-xl {
      font-size: 1.2rem;
      padding: .75rem 1.25rem;

      svg {
        height: 18px;
      }
    }
  }

  .body-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;

    .body {
      overflow: hidden;

      .body-content {
        padding: .55rem 1rem;
        border: 1px solid var(--color-accent);
        border-top: none;
        //background-color: var(--color-admin-bg-mid);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        @include bp-xl {
          padding: .75rem 1.25rem;
        }
      }
    }
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: .75rem;

  @include bp-md {
    gap: 1.5rem;
  }

  .category {
    display: flex;
    align-items: center;

    h3 {
      color: var(--color-muted);
      text-transform: uppercase;
      letter-spacing: 4%;
      margin-right: 2rem;
      font-size: .8rem;

     @include bp-md {
        font-size: .95rem;
      }
    }

    .subcategories {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: .5rem;

      button {
        padding: .3rem .5rem;
        font-size: .6rem;

        @include bp-md {
          padding: 0.4rem 0.75rem;
          font-size: 0.67rem;
        }
      }

      .subcategory {

      }
    }
  }

  &.admin {
    padding: 0rem .5rem;

    .category {
      h3 {
        font-family: var(--font-body);
        font-weight: 400;
        color: var(--color-text-light);
        font-size: 1rem;
        text-transform: none;
      }
    }
  }
}