@use 'breakpoints.module' as *;

.accordion {
  &.open .body-wrapper {
    grid-template-rows: 1fr;
  }

  &.inverse {
    border: 1px dashed var(--color-admin-border);
    border-radius: 5px;

    .body-wrapper {
      .body {
        .body-content {
          background-color: transparent;
        }
      }
    }
  }

  .body-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;

    .body {
      overflow: hidden;

      .body-content {
        padding: .55rem 1rem;
        background-color: var(--color-admin-bg-mid);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

