@use '_breakpoints' as *;

.filter-types {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0rem 2rem 0rem;
}

.photos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  .count-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .75rem;

    .count {
      font-size: .9rem;
      color: var(--color-primary);
      font-weight: 500;
    }
  }

  .photo-display-wrapper {
    margin-bottom: 5rem;
  }

  .photo-wrapper {
    position: relative;

    &.active .overlay {
      opacity: 1;
      visibility: visible;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
    

    .overlay {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      justify-content: center;
      align-items: center;
      background-color: rgba(var(--color-primary-dark-rgb), .90);
      transition: visibility 0.25s allow-discrete, opacity 0.25s;
      gap: 1rem;

      .title {
        background-color: rgba(var(--color-primary-rgb));
        color: var(--color-text-light);
        width: 100%;
        text-align: center;
        padding: 1rem 0rem;
      }

      button {
        background-color: var(--color-bg);
        color: var(--color-primary-dark);
        font-family: var(--font-heading);
        font-size: .8rem;
        padding: .5rem 1rem;
        letter-spacing: 3%;
      }
    }

    &:nth-child(even) {
      .overlay {
        background-color: rgba(var(--color-accent-dark-rgb), .90);
      }

      .title {
        background-color: rgba(var(--color-accent-rgb));
      }

      button {
        color: var(--color-accent-dark);
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  .loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(var(--color-accent-rgb), .35);
    border-radius: 30px;
    padding: .4rem;


    svg {
      width: 30px;
      height: 30px;
      color: var(--color-primary-dark)
    }
  }
}